/*body背景颜色*/
.player-bg{
  background: #f2f2f2;
}

.box{
  .player-detail{
    padding:0 0.2rem;
    overflow: hidden;
    background: #fff;
    margin-bottom: 0.2rem;
    .f-left{
      float: left;
      width: 2.02rem;
      overflow: hidden;
      padding: .2rem 0 0 .2rem;
      &>img{
        width: 100%;
        height: 2.22rem;
        object-fit: cover;
      }
    }
    .f-right{
      float: left;
      width: 4.1rem;
      margin-left: 0.3rem;
      .p1{
        &>span{
          font-weight: bold;
          font-size: .36rem;
          color: #313131;
          display: inline-block;
          margin-top: 0.20rem;
          margin-bottom: 0.3rem;
          vertical-align: middle;
        }
        &>img{
          width:0.38rem;
          height: 0.24rem;
          margin-left: 0.2rem;
          display: inline-block;
          vertical-align: inherit;
          object-fit: cover;
        }
      }
      .p2,.p3,.p4,.p5,.p6,.p7{
        font-size: 0.3rem;
        color: #313131;
        margin-bottom: 0.2rem;
      }
    }
  }
  .player-contents{
      padding: 0 0.2rem 0.2rem;
  }
  .player-ranking, .Olympic, .mark{
     margin-bottom: .2rem;
     background: #f2f2f2;
    .title{
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      background: #0B4B95;
      height: 0.7rem;
      font-size: 0.36rem;
      font-weight: bold;
      color: #fff;
      line-height: 0.7rem;
    }
    .table{
      font-size: .28rem;
      margin-bottom: 0;
      >div{
        height: 0.9rem;
        line-height: 0.9rem;
        background: #fff;
        padding: 0 .2rem;
        overflow: hidden;
        position: relative;
        border-bottom: 1px solid #e5e5e5;
        span{
            height: 100%;
        }
        span:nth-of-type(1){
            width: 15%;           
            float: left;
        }
        span:nth-of-type(2){          
            width: 80%;
            float: right;
            text-align: right;
            overflow: hidden;
        }
      }
      >div:last-child(){
        border-bottom: none;
      }
    }
  }
  .mark{
      padding: 0;
      margin-bottom: 0.2rem;
  }
  .mark:last-child(){
    margin-bottom: 0;
  }
}
